.img-banner {
  height: 85vh;
  background-image: url(../../../../../assets/1003220.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.bar {
  margin-top: 0.2rem;
  background-color: black;
  height: 3vh;
  color: white;
  text-align: center;
  font-family: "impact";
  padding: 0.3rem;
}
